* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  background-color: rgb(238, 238, 238);
}

main {
  margin: 40px 0;
  padding: 12px;
  width: 100%;
  max-width: 810px;
}

header {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
}

a {
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

h3 {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 500;
  text-align: center;
  line-height: 1.6rem;
}

header,
a,
h3,
p {
  font-family: "Courier New", Courier, monospace;
}

.newspaper {
  background-color: white;
  padding: 20px;
}

.box-border {
  border: 1px solid;
  margin: 2px;
  padding: 8px;
}

.table {
  border: 1px solid;
  margin: 2px;
  padding: 2px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

.col-1 {
  flex: 1;
}

.row-1-col-2 {
  width: 40%;
}
.row-2-col-2 {
  width: 70%;
}
